/* #region general */

img {
  padding: 2em;
  margin: 0;
}

.text-image p {
  font-size: 3em;
}

main h1 {
  font-size: 4em;
}
main h2 {
  font-size: 3em;
}

.text-image img {
  border-radius: 50%;
  padding: 2em;
  max-width: 45em;
}
.text-image {
  width: 90%;
  margin: 30px auto;
  flex-direction: column;
  flex-wrap: wrap;
}
/* #endregion general */

/* #region media screen 700px text-image */

@media screen and (min-width: 700px) {
  .text-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
/* #endregion media screen 700px text-image*/
