/* #region general */

.styled-table {
  margin-top: 5em;
}

.styled-table thead {
  background-color: #ffa094;
  color: #ffffff;
  text-align: center;
}

th {
  padding: 2em;
}
img {
  width: 100%;
  height: auto;
}

.styled-table tbody tr {
  background-color: #f3f3f3;
}
main {
  display: flex;
  justify-content: space-around;
}

/* #endregion general */

/* #region media screen 400px image and font */

@media screen and (min-width: 400px) {
  .styled-table th,
  .styled-table td {
    padding: 2em 1em;
  }
  .styled-table span,
  th,
  td,
  p {
    font-size: 1.5em;
  }
  img {
    max-width: 300px;
    height: auto;
  }
}
/* #endregion media screen 400px  image and font*/
