/* #region typography */

/* #region class */

.title-main {
  padding-top: 2rem;
  background-color: #6efcfc40;
}

.hero-image {
  margin: 0;
}
.hero-image img {
  width: 100%;
}
.hero-image img:first-child {
  width: 40%;
}

.hero-image .logo {
  width: 30%;
}
.text-image {
  margin: 1em 0;
  color: white;
}

.text-image header {
  font-size: 2em;
  margin: 1em;
}

.text-image img {
  margin: 1em;
  width: 90%;
}

.text-image img:nth-child(1) {
  padding: 1em;
}

/* #endregion class */

/* #region media screen text-image */

/******************************* 
 *  GRID CSS 
 *******************************/
@media screen and (min-width: 800px) {
  .text-image {
    padding: 2em;
    display: grid;
    grid-template-areas: "text image";
    align-items: center;
  }
  .text-image img {
    margin-left: 1em;
    box-shadow: -3px 3px 0 0px #ccc;
    border-radius: 0.5em;
  }
  .text-image:nth-of-type(even) {
    grid-template-areas: "image text";
  }
  .text-image:nth-of-type(even) img {
    box-shadow: 3px 3px 0 0px #ccc;
  }
  .text-image header:nth-child(1) {
    grid-area: text;
    padding: 1em;
  }
  .text-image header:nth-child(2) {
    grid-area: image;
  }
  h1 {
    padding: 1em 6em;
  }
}

/*  margin for hero image when nav is in column direction */
@media screen and (min-width: 300px) {
  .hero-image {
    margin: 7em 0 0 0;
  }
}

/* #endregion media screen  text image */

/* #endregion typography */
