/* #region general */

/**************************************
 * general
 **************************************/

* {
  box-sizing: border-box;

  /* /* margin: 0; */
}

html {
  font-size: 62.5%;
}
/******************************* 
 *  FLEX CSS 
 *******************************/
body {
  width: 100%;
  min-height: 100vh;
  background: #fffdfd;

  font-family: "Vollkorn", serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
/******************************* 
 *  FLEX ITEM CSS 
 *******************************/
body > header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body > header .title {
  font-size: 3em;
  margin-top: 3em;
}
main {
  flex-grow: 1;
}

h1 {
  padding: 0;
  line-height: 1.3em;
}
h2 {
  color: rgb(13, 24, 35);
}
p {
  line-height: 1.3em;
  color: rgb(8, 5, 37);
}
img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  size: 2em;
  color: black;
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

/* #endregion general */

/* #region typography */

/* #region Nav */

nav {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgb(10, 10, 10);
  background-color: rgb(36 180 255 / 51%);
}
nav a,
nav span {
  color: rgb(64, 40, 40);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}
/******************************* 
 *  FLEX CSS 
 *******************************/
nav > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
nav > ul li {
  padding: 0.5em;
  cursor: pointer;
  text-transform: uppercase;
}
nav > ul ul {
  display: none;
}
nav > ul li:hover ul {
  display: block;
  position: absolute;
  padding: 0;
  list-style: none;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 0.5em;
  padding: 0.4em;
}

/* #endregion Nav*/

/* #region media screen 300px NAV */

@media screen and (min-width: 300px) {
  nav {
    width: 100%;
  }
  /******************************* 
 *  FLEX NAV CSS 
 *******************************/
  nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

/* #endregion media screen 300px NAV*/

/* #region Footer */

footer {
  background-color: rgb(36 180 255 / 69%);
  text-align: center;
  width: 100%;
  color: white;
}
/******************************* 
 *  FLEX footer CSS 
 *******************************/
.foot1 {
  display: flex;
  padding: 0.5em 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.foot1 ul {
  margin: 0;
  padding: 1em;
}
.foot1 li {
  margin: 0.7em 0.5em;
}
.social a {
  font-size: 2em;
  padding: 0.5em;
}

/* #endregion Footer */

/* #endregion typography */
